.flex {
  display: flex;
  gap: var(--gap-space);
}
.flex-center {
  align-items: center;
  justify-content: center;
}
.flex-column {
  flex-direction: column;
}

.grid {
  display: grid;
  gap: var(--gap-space);
}
.grid-col-two {
  grid-template-columns: 1fr 1fr;
}

/**
  * A (more) Modern CSS reset by Andy Bell 
  * LINK --> https://piccalil.li/blog/a-more-modern-css-reset/
*/
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

ul, ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1, h2, h3, h4,
button, input, label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1, h2,
h3, h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input, button,
textarea, select {
  font-family: inherit;
  font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

/* @link https://utopia.fyi/type/calculator?c=320,16,1.25,1240,18,1.333,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */
.gutter-top--md {
  margin-block-start: 3rem;
}
.gutter-top--xl {
  margin-block-start: 4rem;
}

.gutter-bottom--sm {
  margin-block-end: 1.5rem;
}
.gutter-bottom--md {
  margin-block-end: 2rem;
}
.gutter-bottom--lg {
  margin-block-end: 3.375rem;
}

.sr-only:not(:focus):not(:active):not(:focus-within) {
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

body {
  font-family: "Red Hat Display", sans-serif;
  background-color: #FAFAFA;
}

.introductory__content {
  text-align: center;
  max-inline-size: 45ch;
  margin-inline: auto;
}
.introductory__content h1 {
  color: #28283D;
  font-weight: 900;
  font-size: clamp(2.4414rem, 2.0551rem + 1.9315vi, 3.552rem);
}
.introductory__content .lede {
  color: #87879D;
  font-size: clamp(1rem, 0.9565rem + 0.2174vi, 1.125rem);
  padding-inline: 1.5rem;
}
.introductory__cta {
  --gap-space: 1rem;
  margin-inline: auto;
}
@media (min-width: 48em) {
  .introductory__cta {
    flex-direction: row;
  }
}
.introductory__cta a {
  display: block;
  padding-block: 1rem;
  border-radius: 24rem;
  flex: 1;
  text-decoration: none;
  font-weight: 900;
  text-align: center;
}
@media (min-width: 48em) {
  .introductory__cta a {
    flex: 0 1 auto;
  }
}
.introductory__cta a:nth-child(1) {
  background-color: #4D96A9;
  color: #fff;
  padding-inline: 2.5rem;
}
.introductory__cta a:nth-child(1) em {
  color: #8FE3F9;
  font-style: normal;
}
.introductory__cta a:nth-child(2) {
  background-color: #855FB1;
  color: #fff;
  padding-inline: 1.9rem;
}

.divider {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.divider-introductory {
  margin-block: 4rem;
}
.divider-hero-content {
  margin-block-start: 4rem;
  position: relative;
  z-index: 2;
}
.divider::before {
  content: "";
  background-color: hsla(240, 10%, 57%, 0.25);
  height: 84px;
  width: 1px;
}
.divider p {
  border: 1px solid hsla(240, 10%, 57%, 0.25);
  width: 56px;
  height: 56px;
  border-radius: 50%;
  color: #87879D;
  font-weight: 900;
  background-color: #fff;
}

.hero {
  padding-inline: 1.5rem;
}
.hero ul {
  --gap-space: 1.5rem;
}
@media (min-width: 48em) {
  .hero ul {
    grid-template-columns: repeat(4, 1fr);
  }
}
.hero ul img {
  border-radius: 12px;
}
.hero-content {
  text-align: center;
  color: #87879D;
}
.hero-content strong {
  color: #4D96A9;
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 4px;
}
.hero-content #smarter-meetings {
  margin-block-start: clamp(1rem, 0.9565rem + 0.2174vi, 1.125rem);
  margin-block-end: 2rem;
  color: #28283D;
  font-size: clamp(1.9531rem, 1.7056rem + 1.2375vi, 2.6647rem);
  font-weight: 900;
}
.hero-content .lede {
  max-inline-size: 54ch;
  margin-inline: auto;
  font-size: 500;
}

.footer-wrapper {
  background-color: #4D96A9;
  position: relative;
  color: #fff;
  height: 25rem;
  margin-block-start: -1.75rem;
  z-index: 1;
}
.footer-wrapper::before {
  content: "";
  background-image: url("/assets/mobile/image-footer.jpg");
  position: absolute;
  background-size: cover;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0.2;
  z-index: -1;
}
@media screen and (min-width: 768px) {
  .footer-wrapper::before {
    background-image: url("/assets/tablet/image-footer.jpg");
  }
}
.footer-wrapper footer {
  --gap-space: 1.5rem;
  text-align: center;
  padding-inline: 1.5rem;
}
.footer-wrapper footer h2 {
  font-weight: 900;
  font-size: clamp(1.9531rem, 1.7056rem + 1.2375vi, 2.6647rem);
}
.footer-wrapper footer .lede {
  font-weight: 500;
  font-size: 1.125rem;
}
.footer-wrapper footer .btn--footer {
  display: block;
  margin-block-start: 0.5rem;
  color: #fff;
  text-decoration: none;
  background-color: #855FB1;
  padding-block: 1rem;
  border-radius: 24px;
  font-weight: 900;
  padding-inline: 2.5rem;
}
.footer-wrapper footer .btn--footer em {
  color: #D9B8FF;
  font-style: normal;
}

/*# sourceMappingURL=styles.css.map */
