/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/*----------------------------
	Visually hidden
----------------------------*/
/*----------------------------
	Visually hidden
----------------------------*/
/**
  * Breakpoint mixins reference: https://dev.to/oler/using-mixins-with-scss-to-create-breakpoints-8g6
     Example Usage
  *  1. @include breakpoint(small)
  *  2. @include breakpoint(medium)
  *  3. @include breakpoint(large)
  *   {
  *   properties content
  * }
  */
.content h1, .content h2 {
  color: #28283D;
  font-weight: 900;
}
.content .heading__main {
  font-size: 2.5rem;
  line-height: 2.75rem;
}
.content .heading__secondary {
  font-size: 2rem;
  line-height: 2.25rem;
}
.content .tag-line {
  text-transform: uppercase;
  color: #4D96A9;
  line-height: 2.25rem;
  letter-spacing: 4px;
  font-weight: 900;
}
.content .pele {
  color: #87879D;
  font-weight: 500;
  line-height: 1.625rem;
}

.heading__tertiary {
  color: #FAFAFA;
}

.btn__link {
  text-decoration: none;
  color: #87879D;
  font-weight: 900;
  display: inline-block;
  color: #FAFAFA;
  line-height: 1.625rem;
  border-radius: 30px;
}

.btn__download {
  background-color: #4D96A9;
  padding-block: 1rem;
  padding-inline: 2.5rem;
}
.btn__download span {
  color: #8FE3F9;
}

.footer .btn__download {
  background-color: #855FB1;
}
.footer span {
  color: #D9B8FF;
}

.btn__more-info {
  background-color: #855FB1;
  padding-inline: 2rem;
  padding-block: 1rem;
}

.step__indicator {
  background-color: white;
  border: 1px solid hsla(240, 10%, 57%, 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #87879D;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  padding: 1rem;
  position: relative;
  margin-block-start: 9.25rem;
  margin-block-end: 4rem;
}
.step__indicator::before {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 23px;
  background-color: hsla(240, 10%, 57%, 0.25);
  width: 1px;
  height: 84px;
  right: -23px;
}
.step__indicator em {
  font-style: normal;
  font-weight: 900;
}

body {
  font-family: "Red Hat Display", sans-serif;
}

.visually-hidden {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}

.landing__page--one {
  text-align: center;
}
.landing__page--two {
  padding-inline: 1.5rem;
  text-align: center;
}

.flex-col-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.flex-col-center.cta {
  gap: 1rem;
}

.grid {
  display: grid;
}
.grid.features {
  grid-template-columns: 1fr 1fr;
  padding: 0;
  row-gap: 1.5rem;
  column-gap: 1.5rem;
  margin-block-end: 4rem;
}
.grid.features li img {
  border-radius: 8px;
}

/*# sourceMappingURL=styles.css.map */
