
.gutter-top {
  &--md {
    margin-block-start: 3rem;
  }
}

.gutter-bottom {
  &--lg {
    margin-block-end: 3.375rem;
  }

  &--md {
    margin-block-end: 2rem;

  }

  &--sm {
    margin-block-end: 1.5rem;
  }

}