$breakpoints: (
  small: 48em,
  medium: 80em,
  large: 90em,
);


@mixin tablet {
  @media (min-width: map-get($breakpoints, "small")) {
    @content
  }
};

@mixin desktop {
  @media (min-width: map-get($breakpoints, 'desktop')) {
    @content
  }
}