@use '../abstracts' as *;

body {
  font-family: $main-font;
}

.visually-hidden {
  @include sr-only;
}

.landing__page {

  &--one {
    text-align: center;
  }

  &--two {
    padding-inline: 1.5rem;
    text-align: center;
  }

}