@use '../abstracts' as *;

.landing__page {

  &--one {
    text-align: center;

    .img-hero__right {
      display: none;
    }

    @include breakpoint(large) {
      .img-hero__right {
        display: block;
      }
    }

    .content {
      margin-block-start: 3.5rem;
      margin-block-end: 2rem;
      padding-inline: 1.5rem;

      .heading__main {
        max-inline-size: 10ch;
        margin-inline: auto;
      }

      .lede {
        margin-block-start: 1rem;
        max-width: $text-width-compact;
      }
    }

  }

  &--two {
    padding-inline: 1.5rem;
    text-align: center;

    .content {

      .heading__secondary {
        margin-block-start: 1.5rem;
        margin-block-end: 2rem;
      }

      .lede {
        max-width: 45ch;
      }
    }
  }

}