@use '../abstracts/' as *;


.btn-links {
  text-decoration: none;
  color: #fff;
  border-radius: 32px;
  display: inline-block;
  padding-block: 1rem;
  font-weight: 700;
}

.btn-download {
  background-color: $primary-color-1;
  padding-inline: 2.5rem;
  transition: background-color 0.3s;

  &:hover {
    background-color: $hovered-color-1;
  }

  span {
    color: $secondary-color-1;
  }
}

.btn-whatisit {
  background-color: $primary-color-2;
  padding-inline: 1.85rem;
  margin-block-start: 1rem;

  transition: background-color 0.3s;

  &:hover {
    background-color: $hovered-color-2;
  }
}