@use '../abstracts/' as *;

.btn__link {
  text-decoration: none;
  color: $neutral-color-1;
  font-weight: 900;
  display: inline-block;
  color: $neutral-color-2;
  line-height: $line-height-sm;
  border-radius: 30px;
}

.btn__download {
  background-color: $primary-color-1;
  padding-block: 1rem;
  padding-inline: 2.5rem;

  span {
    color: $secondary-color-1;
  }
}

.footer {
  .btn__download {
    background-color: $primary-color-2;
  }

  span {
    color: $secondary-color-2;
  }
}

.btn__more-info {
  background-color: $primary-color-2;
  padding-inline: 2rem;
  padding-block: 1rem;
}