@use '../abstracts' as *;

.footer {
  text-align: center;
  background-color: $primary-color-1;
  padding-inline: 1.5rem;
  color: $neutral-color-2;
  padding-block-start: 8rem;
  padding-block-end: 6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;


  @include breakpoint(large) {
    flex-direction: row;
    text-align: start;
    justify-content: space-around;
  
  }
 


  &::before {
    content: "";
    background: url('../assets/mobile/image-footer.jpg') no-repeat center center;
    background-size: cover;
    position: absolute;
    z-index: -1;
    opacity: 0.2;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    @include breakpoint(medium) {
      background-image: url('../assets/tablet/image-footer.jpg');
    }
    @include breakpoint(large) {
      background-image: url('../assets/desktop/image-footer.jpg');
    }
  }


  

  h2 {
    font-size: clamp(2rem, 2vw, 3.5rem);
    font-weight: 700;
    line-height: clamp(2rem, 2vw, 3.5rem);
    @include breakpoint(large) {
      width: 12ch;
    }
  }

  p {
    margin-block-start: 1.5rem;
    margin-block-end: 2rem;
    font-size: clamp(1rem, 1vw, 1.125rem);
    font-weight: 500;
    @include breakpoint(large) {
      width: 35ch;
    }
  }

  .btn-download {
    background-color: $primary-color-2;

    transition: background-color 0.3s;

  &:hover {
    background-color: $hovered-color-2;
  }
    span {
      color: $secondary-color-2;
    }
  }
}