@use '../abstracts' as *;

.hero {

  @include breakpoint(large) {
    display: grid;
  }

  picture {
    margin-block-end: 3rem;

    
  @include breakpoint(large) {
    grid-row: 1;
    grid-column: 1;

    .hero__img-left {
      width: 100%;

    }
  }
  }

  &__img-right {
    display: none;

    @include breakpoint(large) {
      display: block;
    }
  }

  h1 {
    font-size: clamp(2.5rem, 5vw, 4rem);
    line-height: clamp(2.8rem, 5vw, 4rem);
    color: $primary-color-3;
    margin-block-end: 1rem;
    font-weight: 900;
    max-width: 10ch;
    margin-inline: auto;
  }

  p {
    color: $neutral-color-1;
    font-size: clamp(1rem, 1vw, 1.125rem);
    margin-block-end: 2rem;
    font-weight: 500;
    max-width: 28rem;
    margin-inline: auto;
  }

  .content {
    text-align: center;
    padding-inline: 2rem;
    padding-block-start: 3rem;
    
    
    @include breakpoint(large) {
      grid-row: 1;
      grid-column: 2;
    }
  }


  .hero__img-right {
    @include breakpoint(large) {
      grid-row: 1;
      grid-column: 3;
      width: 100%;
    }
  }

  .step-indicator {
    @include breakpoint(large) {
      grid-row: 2;
      grid-column: 2;
    }
  }

  .cta {
    .btn-download {
      margin-inline-end: 1rem;
    }
  }
}
