@use '../abstracts' as *;

.content {

  h1, h2 {
    color: $primary-color-3;
    font-weight: 900;
  }
  
  .heading__main {
    font-size: $fs-medium;
    line-height: $line-height-md;
  }

  .heading__secondary {
    font-size: 2rem;
    line-height: 2.25rem;
  }

  .tag-line {
    text-transform: uppercase;
    color: $primary-color-1;
    line-height: 2.25rem;
    letter-spacing: 4px;
    font-weight: 900;
  }

  .pele {
    color: $neutral-color-1;
    font-weight: 500 ;
    line-height: $line-height-sm;
  }
}

.heading__tertiary {
  color: $neutral-color-2;
}
