@use '../abstracts' as *;

.flex-col-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &.cta {
    gap: 1rem;

    @include breakpoint(medium) {
      flex-direction: row;
    }

  }
}
