@use '../abstracts' as *;

.grid {
  display: grid;

  &.features {
    grid-template-columns: 1fr 1fr;
    padding: 0;
    row-gap: 1.5rem;
    column-gap: 1.5rem;
    margin-block-end: 4rem;

   @include breakpoint(medium) {
      grid-template-columns: repeat(4, 1fr);
   }

    li {
      list-style: none;
    }

    li img {
      border-radius: 8px;
    }

   

  }
}

