@use '../abstracts' as *;

.grid.feature {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 1.5rem;
  column-gap: 1.5rem;

  
  @include breakpoint(medium) {
    grid-template-columns: repeat(4, 1fr);
    column-gap: .7rem;
  }

  @include breakpoint(large) {
    margin-block-end: 5rem;
    column-gap: 1.875rem;

  }

}