@use '../utility/variables' as *;
@use '../utility/mixins' as *;

.hero {
  padding-inline: 1.5rem;
  ul {
      --gap-space: 1.5rem;

      @include tablet {
        grid-template-columns: repeat(4, 1fr);
      --gap-space: 0.6875rem;

      }


  img {
    border-radius: 12px;
  }
  }

  &-content {
    text-align: center;
    color: $neutral-color-2;
    


    strong {
      color: $primary-color-1;
      text-transform: uppercase;
      font-weight: 900;
      letter-spacing: 4px;
    }

    #smarter-meetings {
      margin-block-start: $step-0;
      margin-block-end: 2rem;
      color: $neutral-color-1;
      font-size: $step-3;
      font-weight: 900;
    }

    .lede {
      max-inline-size: 54ch;
      margin-inline: auto;
      font-size: 500;
    }
  }
}
